*.o
*.o.d
*.cmake
*.ninja

build/.ninja_deps
build/.ninja_log
build/build.ninja

build/CMakeFiles/
build/cmake_install.cmake
build/Makefile
build/*.lst
build/*.sym

compile_commands.json
CMakeCache.txt
main
.vscode
.cmake

.kdev4/alpha_6809.kdev4
alpha_6809.kdev4
