*.o
*.o.d
*.cmake
CMakeFiles
build/CMakeFiles
build/.cmake
build/*.cmake
build/compile_commands.json
compile_commands.json
build/CMakeCache.txt
CMakeCache.txt
build/cmake_install.cmake
build/main
main
.vscode
.cmake
